      <div id="myCarousel" class="carousel slide" data-ride="carousel" >
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" style="height:300px;">
            <div class="carousel-item active" id="slide1"style="height:300px;">
              <img class="first-slide img-fluid" src="https://images.pexels.com/photos/459718/pexels-photo-459718.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="First slide">
              <div class="container">
                <div class="carousel-caption text-left">
                  <h1>Bienvenido!!</h1>
                  <p>El sistema te ayudara a encotrar la metodología mas apropiada para tu proyecto</p>
                </div>
              </div>
            </div>
            <div class="carousel-item" id="slide2"style="height:300px;">
              <img class="second-slide img-fluid" src="https://images.pexels.com/photos/1068523/pexels-photo-1068523.jpeg" alt="Second slide">
              <div class="container">
                <div class="carousel-caption text-left">
                    <h1 class="text-primary">Instrucciones</h1>
                    <p class="text-primary">Responde a cada pregunta para descartar las metodologías que no son compatibles con tus necesidades</p>
                </div>
              </div>
            </div>
            <div class="carousel-item"id="slide3"style="height:300px;">
              <img class="third-slide img-fluid" src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg" alt="Third slide">
              <div class="container">
                <div class="carousel-caption text-right ">
                    <h1>Consulta</h1>
                    <p>Escoge una metodología para ver sus caracteristicas</p>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        
        <div class="text-center">
            <p><a class="btn btn-lg btn-primary" href="#survey" role="button" style="margin:10px">Comenzar</a></p>
        </div>
    <h1>Metodologías de desarrollo</h1>
    <p>Sistema experto</p>
