<div style="display: flex; justify-content: space-around;">
    <div>
        <ul>
            <li *ngFor="let characteristic of characteristics; let i = index">
                {{characteristic.description}}
                <input type="checkbox" [checked]="characteristics[i].checked" (change)="checkValue(i)" />
            </li>
        </ul>
    </div>
    <div>
        <div *ngFor="let methodology of methodologies">
            <div *ngIf="(methodology.score > minscore && methodology.score <= maxscore)">
                <div [ngSwitch]="methodology.score">
                    <div class="card text-white bg-success mb-3" *ngSwitchCase="maxscore" style="max-width: 18rem;">
                        <h5 class="card-header">{{methodology.name}}</h5>
                        <div class="card-body">
                            <p class="card-text">{{methodology.summary}}</p>
                            <a href="#" class="btn btn-light">Ver más...</a>
                        </div>
                    </div>
                    <div class="card text-white bg-warning mb-3" *ngSwitchCase="maxscore-1" style="max-width: 18rem;">
                        <h5 class="card-header">{{methodology.name}}</h5>
                        <div class="card-body">
                            <p class="card-text">{{methodology.summary}}</p>
                            <a href="#" class="btn btn-light">Ver más...</a>
                        </div>
                    </div>
                    <div class="card text-white bg-danger mb-3" *ngSwitchCase="maxscore-2" style="max-width: 18rem;">
                        <h5 class="card-header">{{methodology.name}}</h5>
                        <div class="card-body">
                            <p class="card-text">{{methodology.summary}}</p>
                            <a href="#" class="btn btn-light">Ver más...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>